@use "../../globals.scss" as *;

.buttonPrimary {
  width: 100%;
  max-width: 180px;
  padding: 10px 20px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  span {
    position: relative;
    text-align: center;
    font-size: 1rem;
    color: white;
  }
}

.buttonPrimary::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: $color-bg;
  border-radius: 4px;
}

.buttonPrimary:hover span {
  color: rgb(150, 150, 150);
  transition: all, 0.2s ease;
}
