@use "../../styles/colors.scss" as *;

.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  margin-bottom: 10vh;
  position: relative;
  box-shadow: inset 0px -12px 10px 2px #212121, 0px 1px 14px 8px #212121;
  padding-bottom: 14px;
  div {
    display: grid;
    align-content: center;
    grid-template-columns: 3fr 1fr;
    background-color: $color-darker;
    height: 100%;
    width: 100%;
    h2 {
      justify-self: start;
      height: fit-content;
      align-self: center;
      margin-left: 5%;
    }
    ul {
      margin-right: 10%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-self: end;

      li {
        padding: 8px;
        list-style-type: none;
        a {
          text-decoration: none;
          font-size: 1rem;
          color: white;
        }
      }
    }
  }
}
